body {
    background-image: url(./Assets/CodeBackground.jfif);
    background-color: gray;
    font-family: Helvetica;
    }

    p {
       color:  white;
    }

    h1 {
        color: white;
        margin: 25px;
        
    }
    
    .card {
       margin-top: 75px; 
    }

    #choices {

        display: flex;
        flex-direction: column;
          
    }

    .btn {
    height: 50px;
    
    }

    #minutes, #seconds {
        display: flex;
        justify-content: center;
        font-size: 4em;
        float: left;
        color: white;
    }

    #minutes {
        margin-left: 20px;
    }
     

    #main {
    width: 80%;
    max-width: 950px;
    border: 1px gray solid;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    }

    .card {
        height: 600px;
        
    }

    .landing-header {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .landing-text {
        font-size: 24px;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    .card-header {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .card-text {
        font-size: 24px;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    
    

    button {
        margin: 25px;
    }

    #header {
    margin-top: 0;
    border: 2px solid black;
    padding: 5px;
    height: 250px;
    background: beige;
    background-image: url("code.jpg");
    color: white;
    }

    label {
        display: block;
        }
        
        input {
        width: 30px;
        margin-left: 20px;
        }
        
        h2 {
        clear: both;
        padding-top: 20px;
        }

